@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LondrinaOutline';
  src: url('/src/assets/fonts/LondrinaOutline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTForsOutline';
  src: url('/src/assets/fonts/TT-Fors-Black-Outline-Trial.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
